/openbios-sparc32
/pxe-virtio.bin
/mpc8544ds.dtb
/optionrom
/linuxboot.bin
/pxe-pcnet.bin
/petalogix-s3adsp1800.dtb
/pxe-e1000.bin
/pxe-rtl8139.bin
/openbios-ppc
/ppc_rom.bin
/multiboot.bin
/pc-bios
/vgabios-cirrus.bin
/openbios-sparc64
/pxe-ne2k_pci.bin
/vgabios
/vgabios.bin
/bios.bin
/s2ebios
/pxe-i82559er.bin
/bamboo.dtb
/keymaps
/video.x
/seabios
